/**
 * @file
 * Styles for Claro's Pagination.
 */

.pager {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}
.pager__items {
  font-weight: bold;
  text-align: center;
  margin: var(--space-m) 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  list-style: none;
}
.pager__item {
  display: inline-block;
  vertical-align: top;
  margin: 0 calc(var(--space-xs) / 2);
}
.pager__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--pager-size);
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  box-sizing: border-box;
  border-radius: var(--space-m); /* Pager size ÷ 2 */
  background: var(--pager-bg); /* Make sure that the text is visible on dark background. */
  color: var(--pager-fg);
  height: var(--pager-size);
  line-height: 1;
}
.pager__link:hover,
.pager__link:focus,
.pager__link:active {
  text-decoration: none;
}
.pager__link:hover,
.pager__link.is-active:hover {
  background: var(--pager-bg--hover);
  color: var(--pager-fg);
}
.pager__link--action-link {
  border-radius: var(--pager-action-border-radius);
}
/* Active number link. */
.pager__link.is-active {
  background: var(--pager-bg--active);
  color: var(--pager-fg--active);
}
.pager__item--first .pager__link::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2V14' stroke='%23545560' stroke-width='2'/%3E%3Cpath d='M14 2L8 8L14 14' stroke='%23545560' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.pager__item--previous .pager__link::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 2L5 8L11 14' stroke='%23545560' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.pager__item--next .pager__link::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 14L11 8L5 2' stroke='%23545560' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.pager__item--last .pager__link::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 14L14 2.00001' stroke='%23545560' stroke-width='2'/%3E%3Cpath d='M2 14L8 8.00001L2 2.00001' stroke='%23545560' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.pager__item--first .pager__link::before,
.pager__item--previous .pager__link::before,
.pager__item--next .pager__link::after,
.pager__item--last .pager__link::after {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
}
[dir="rtl"] .pager__item--first .pager__link::before,
[dir="rtl"] .pager__item--previous .pager__link::before,
[dir="rtl"] .pager__item--next .pager__link::after,
[dir="rtl"] .pager__item--last .pager__link::after {
  transform: scaleX(-1);
}
.pager__item--first .pager__link::before,
.pager__item--previous .pager__link::before {
  margin-right: var(--space-xs); /* LTR */
}
[dir="rtl"] .pager__item--first .pager__link::before,
[dir="rtl"] .pager__item--previous .pager__link::before {
  margin-left: var(--space-xs);
  margin-right: 0;
}
.pager__item--next .pager__link::after,
.pager__item--last .pager__link::after {
  margin-left: var(--space-xs); /* LTR */
}
[dir="rtl"] .pager__item--next .pager__link::after,
[dir="rtl"] .pager__item--last .pager__link::after {
  margin-right: var(--space-xs);
  margin-left: 0;
}

@media (-ms-high-contrast: active) {
  .pager__item a:hover {
    text-decoration: underline;
  }
  .pager__link.is-active {
    border: var(--pager-border-width) solid var(--color-white);
  }
}
