
/**
 * @file
 * Styling for the shortcut module.
 */

/**
 * Add/remove links.
 */
.shortcut-action {
  display: inline-block;
  margin-left: var(--space-xs); /* LTR */
}
[dir="rtl"] .shortcut-action {
  margin-right: var(--space-xs);
}
.shortcut-action__message {
  background: var(--color-shortcut-bg);
  border-radius: var(--size-shortcut-border-radius);
  font-size: var(--font-size-label);
  padding: var(--size-shortcut-padding);
  color: var(--color-white);
  display: inline-block;
  margin-left: var(--space-s); /* LTR */
  opacity: 0;
  transform: translateY(calc(-1 * var(--space-xs)));
  transition: var(--transition);
  backface-visibility: hidden;
  vertical-align: top;
}
[dir="rtl"] .shortcut-action__message {
  margin-left: 0;
  margin-right: var(--space-s);
}
.shortcut-action:hover .shortcut-action__message,
.shortcut-action:focus .shortcut-action__message {
  opacity: 1;
  transform: translateY(0);
}

.shortcut-action__icon {
  background: transparent url(../../../images/shortcut/favstar.svg) left top / calc(var(--size-shortcut-icon) * 4) var(--size-shortcut-icon) no-repeat;
  width: var(--size-shortcut-icon);
  height: var(--size-shortcut-icon);
  display: inline-block;
  vertical-align: -0.0625rem;
}
[dir="rtl"] .shortcut-action__icon {
  background-image: url(../../../images/shortcut/favstar-rtl.svg);
}
.shortcut-action--add:hover .shortcut-action__icon,
.shortcut-action--add:focus .shortcut-action__icon {
  background-position: calc(-1 * var(--size-shortcut-icon)) top;
}
.shortcut-action--remove .shortcut-action__icon {
  background-position: calc(-2 * var(--size-shortcut-icon)) top;
}
.shortcut-action--remove:focus .shortcut-action__icon,
.shortcut-action--remove:hover .shortcut-action__icon {
  background-position: calc(-3 * var(--size-shortcut-icon)) top;
}
