/**
 * Tabs.
 */
.tabs-wrapper {
  display: flex;
}
.tabs-wrapper > nav {
  width: 100%;
}
.tabs {
  display: flex;
  flex-direction: column;
  border-radius: var(--size-tabs-border-radius);
  box-shadow: var(--shadow-tabs-base);
  margin: 0 0 var(--space-l) 0;
  border: var(--border-tabs-base);
  width: 100%;
}
[dir="rtl"] .tabs {
  margin: 0 0 var(--space-l) 0;
}

.tabs__tab {
  border-bottom: var(--border-tabs-base);
  background-color: var(--color-whitesmoke-light);
  font-size: var(--font-size-s);
  font-weight: bold;
  position: relative;
}
.tabs__tab:last-child {
  border-bottom: 0;
}
.tabs__tab.is-active {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  box-shadow: var(--shadow-tabs-base);
}

.tabs__link {
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: var(--height-tabs-link);
  padding: var(--space-s) var(--space-l);
  color: var(--color-davysgrey);
  overflow: hidden;
  line-height: 1.2rem;
}
.tabs__link:focus {
  color: var(--color-davysgrey);
  margin: -1px;
  border: var(--size-tabs-element-focus) solid var(--color-focus);
  border-radius: var(--size-tabs-border-radius);
  min-height: calc(var(--height-tabs-link) + var(--size-tabs-element-focus) - 1px);
  box-shadow: none;
  outline: none;
  text-decoration: none;
  padding-left: calc(var(--space-l) - var(--size-tabs-element-focus) + 1px); /* LTR */
}
[dir="rtl"] .tabs__link:focus {
  padding-left: var(--space-l);
  padding-right: calc(var(--space-l) - var(--size-tabs-element-focus) + 1px);
}
.tabs__link:hover {
  color: var(--color-text);
  text-decoration: none;
}
.tabs__link.is-active {
  color: var(--color-absolutezero);
  flex-grow: 1;
  z-index: 1;
}
.tabs__link.is-active:focus {
  border-radius: 0;
  border-left: none; /* LTR */
  margin: -1px 0;
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}
.tabs__link:not(.is-active):focus {
  z-index: 3;
}
[dir="rtl"] .tabs__link.is-active:focus {
  border-left: var(--size-tabs-element-focus) solid var(--color-focus);
  border-right: none;
}
.tabs__link.is-active:hover {
  color: var(--color-text);
}
/* Active and hover indicator. */
.tabs__tab::before,
.tabs__link::before {
  content: '';
  display: block;
  position: absolute;
}
.tabs__tab.is-active::before {
  width: var(--size-tabs-element-active);
  border-left: var(--size-tabs-element-active) solid var(--color-absolutezero); /* LTR */
  height: calc(100% + 2px);
  top: -1px;
  left: -1px; /* LTR */
  border-top-left-radius: var(--size-tabs-border-radius); /* LTR */
  z-index: 2;
}
[dir="rtl"] .tabs__tab.is-active::before {
  border-left: none;
  border-right: var(--size-tabs-element-focus) solid var(--color-absolutezero);
  left: auto;
  right: -1px;
  border-radius: 0 var(--size-tabs-border-radius) 0 var(--size-tabs-border-radius);
}
.tabs.is-open .tabs__tab.is-active::before {
  border-bottom-left-radius: 0; /* LTR */
}
[dir="rtl"] .tabs.is-open .tabs__tab.is-active::before {
  border-bottom-right-radius: var(--size-tabs-border-radius);
}
.tabs__tab.is-active:focus::before {
  top: calc(var(--size-tabs-element-focus) * -1);
  height: calc(var(--height-tabs-link) + 2px);
}

.tabs__tab:not(.is-active) {
  display: none;
}
.tabs--secondary .tabs__tab:not(.is-active) {
  display: block;
}
.tabs.is-open > .tabs__tab {
  display: flex;
}

.tabs__trigger {
  flex-shrink: 0;
  width: var(--height-tabs-link);
  border-left: var(--border-tabs-trigger); /* LTR */
  text-align: center;
  padding-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
[dir="rtl"] .tabs__trigger {
  border-right: var(--border-tabs-trigger);
  border-left: none;
}
.tabs__trigger:focus {
  box-shadow: none;
  border: var(--size-tabs-element-focus) solid var(--color-focus);
  border-radius: var(--size-tabs-border-radius);
  padding-right: 0;
}

@media screen and (min-width: 48em) {
  .is-horizontal .tabs {
    flex-direction: row;
    box-shadow: none;
    margin: 0;
    border: 0;
    width: auto;
  }

  .is-horizontal .tabs--secondary {
    margin-bottom: var(--space-m);
    border-bottom: var(--border-tabs-base);
    margin-left: calc(calc(var(--size-tabs-element-focus) + 3px) * -1);
    margin-right: calc(calc(var(--size-tabs-element-focus) + 3px) * -1);
    padding: calc(var(--size-tabs-element-focus) + 3px) calc(var(--size-tabs-element-focus) + 3px) 0;
    overflow: hidden;
    border-radius: 0;
  }

  .is-horizontal .tabs__tab {
    border-top: none;
    border-bottom: none;
    background: none;
    font-size: var(--font-size-base);
  }
  .is-horizontal .tabs__tab.is-active {
    background: none;
    order: 0;
    box-shadow: none;
  }
  .is-horizontal .tabs__tab.is-active::before {
    content: none;
  }
  .is-horizontal .tabs__tab .tabs__link.is-active::before {
    border-radius: 0;
  }
  .is-horizontal .tabs__trigger {
    display: none;
  }
  .is-horizontal .tabs__tab {
    display: block;
  }

  .is-horizontal .tabs__link {
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: var(--size-tabs-border-radius) var(--size-tabs-border-radius) 0 0;
  }

  .is-horizontal .tabs__link:focus {
    color: var(--color-text);
    box-shadow: 0 0 0 2px var(--color-white), 0 0 0 calc(var(--size-tabs-element-focus) + 2px) var(--color-focus);
    outline: 2px dotted transparent;
    border: none;
    border-radius: var(--size-tabs-border-radius) var(--size-tabs-border-radius) 0 0;
    margin: 0;
    min-height: var(--height-tabs-link);
    padding-left: 2rem;
    padding-right: 2rem;
  }
  [dir="rtl"] .is-horizontal .tabs__link:focus {
    border: none;
  }
  .is-horizontal .tabs--primary .tabs__link:focus {
    box-shadow: 0 0 0 2px var(--color-whitesmoke), 0 0 0 calc(var(--size-tabs-element-focus) + 2px) var(--color-focus);
  }

  .is-horizontal .tabs__link:hover {
    color: var(--color-absolutezero-hover);
    background: var(--color-tabs-background-hover);
  }

  .is-horizontal .tabs__link.is-active::before {
    border-left: none;
    border-right: none;
    border-bottom: var(--size-tabs-element-active) solid var(--color-absolutezero);
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--size-tabs-element-active);
    width: 100%;
  }
}
